body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #0b0b0b;
}

header, footer {
  background-color: #003366;
  color: white;
  padding: 20px;
  text-align: center;
}

.header-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.main-header h1 {
  font-size: 2.2rem;
  margin-bottom: 0px;
}


.container {
  max-width: 1200px;
  margin: auto;
  padding: 10px;
}

.contact a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.contact a:hover {
  text-decoration: underline;
  color:rgb(192, 192, 212)
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: white;
  table-layout: fixed;
  word-wrap: break-word;
}

.company-description {
  margin: 5px auto;
  padding: 5px 15px;
  font-size: 1.1rem;
  line-height: 1.3;
  color: #040303;
  text-align: justify;
  border-radius: 1cm;
}

th,td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
  word-break: break-word;
}

th {
  background-color: #003366;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.social-links a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

@media (max-width: 768px) {
  th, td {
        font-size: 14px;
    padding: 8px;
  }
    .main-header {
    padding: 5px 2px;
  }

  .main-header h1 {
    font-size: 1.8rem;
  }
.contact{
  margin-top: 10px;
}
  .contact p {
    font-size: 14px;
    margin: 0px;
    padding: 0px;
  }

  .company-description {
  margin: 0px auto;
  padding: 0px 15px;
  font-size: 1.1rem;
  line-height: 1.3;
  color: #040303;
  text-align: justify;
  border-radius: 1cm;
}
.company-description h2{
font-size: 1.5rem;
padding: 0px;
}

}